* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: black;
  color: #fff;
}

/* HEADER  */
.page-title {
  font-size: 25px;
  text-align: center;
  padding: 15px;
  font-weight: normal;
  display: inline;
}

.main-header {
  display: flex;
  text-align: center;
  align-items: baseline;
  justify-content: center;
  padding: 15px;

  margin-top: 30px;
  margin-bottom: 20px;
}

.dc-logo {
  display: inline;
  height: 50px;
  width: 50px;
  object-fit: cover;
  align-self: flex-end;
}

/* SEARCH BAR */
/* note, styling not ideal, but will do for now */
.search-bar {
  text-align: center;
  padding: 20px 20px;
  /* position: absolute; */
  /* margin-bottom: 25px; */
  /* white-space: nowrap; */
}
.search-description {
  display: block;
  padding: 10px;
  margin-bottom: 7px;
}

.input {
  min-width: 75%;
  padding: 10px 10px;
}

/* RETURN TO LATER: figure out how to adjust box in proper ratio to inner content */
/* box will adjust but not as well as I like, good enough for now */
.search-container {
  /* display: inline-block; */
  /* position: relative; */
  border: 4px solid white;
  /* padding: 0px 30px; */
  margin: 0px 280px;
  margin-bottom: 20px;
  box-sizing: border-box;
  /* display: flex;
  align-items: stretch; */
}

/* CHARACTER CONTAINERS */
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: baseline;
}

.flexbox-item {
  padding: 10px;
}

.hyperlink {
  color: #fff;
  font-size: 18px;
  /* margin-bottom: 13px; */
  display: inline-block;
}

.character_redirect:link,
.character_redirect:visited {
  text-decoration: none;
}

.character_redirect:hover {
  background-color: #fff;
  color: #000;

  padding: 3px;
}

.character_redirect:active {
}

.char-individual {
  padding: 5px 10px;
  margin: 7px 10px;
}
.char-avatar {
  /* max-width: 100%;
  max-height: 100%; */
  display: inline-block;
  height: 100px;
  width: 100px;
  object-fit: cover;
  /* padding: 10px 5px; */
  /* padding-bottom: 0; */
  clip-path: circle();
  /* display: inline; */
}

.character-list {
  list-style-type: none;
}

.character-name {
  /* padding-top: 4px; */
  text-align: center;
}

.back:link,
.back:visited {
  text-decoration: none;
  display: inline-block;
  padding: 20px;
  border: 3px solid;
  margin: 10px;
}

/* .popup-text { */
#text {
      background-color: pink;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 150px 80px;
  /*  preferred solution  */
    display: inline-block;
    position: absolute;
    top: 100px;
    right: 200px;
  }

  #modal {
    display: none;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
  }
  
  #modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    width: 80%;
  }
