* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: black;
  color: #fff;
}

.page-title {
  font-size: 25px;
  text-align: center;
  padding: 15px;
  font-weight: normal;
  display: inline;
}

.main-header {
  display: flex;
  text-align: center;
  align-items: baseline;
  justify-content: center;
  padding: 15px;

  margin-top: 30px;
  margin-bottom: 20px;
}

.dc-logo {
  display: inline;
  height: 50px;
  width: 50px;
  object-fit: cover;
  align-self: flex-end;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: baseline;
}

.flexbox-item {
  padding: 10px;
}
.hyperlink {
  color: #fff;
  font-size: 18px;
  /* margin-bottom: 13px; */
  display: inline-block;
}

.character_redirect:link,
.character_redirect:visited {
  text-decoration: none;
}

.character_redirect:hover {
  background-color: #fff;
  color: #000;

  padding: 3px;
}

.character_redirect:active {
}

.character-individual {
  padding: 5px 10px;
  margin: 7px 10px;
}
.char_avatar {
  /* max-width: 100%;
  max-height: 100%; */
  display: inline-block;
  height: 100px;
  width: 100px;
  object-fit: cover;
  /* padding: 10px 5px; */
  /* padding-bottom: 0; */
  clip-path: circle();
  /* display: inline; */
}

.character-list {
  list-style-type: none;
}

.character-name {
  /* padding-top: 4px; */
  text-align: center;
}

.back:link,
.back:visited {
  text-decoration: none;
  display: inline-block;
  padding: 20px;
  border: 3px solid;
  margin: 10px;
}
