{% extends 'base.html' %} {% block title %}Into the DC Universe{% endblock %} {%
block body %}

<!-- <div class="main-header">
  <h1 class="page-title">
    Into the </h1>
    <img class="dc-logo" src="/static/img/DC_Comics_logo.png" /> <h1 class="page-title">Universe</h1>
  </h1>
</div> -->
{% block js %}
<script src="/static/js/homepage.jsx" type="text/jsx"></script>
{% endblock %}
<div id="root-homepage"></div>
<!-- <div id="modal">
  <div id="modal-content">
    <img src="" id="modal-img" />
    <p id="modal-text">
    </p>
  </div>
</div> -->

{% endblock %}
