{% extends 'base.html' %} {% block title %}Into the DC Universe{% endblock %} {%
block body %}

<!-- <div class="main-header">
  <h1 class="page-title">
    Into the </h1>
    <img class="dc-logo" src="/static/img/DC_Comics_logo.png" /> <h1 class="page-title">Universe</h1>
  </h1>
</div> -->
{% block js %}
<script src="/static/JS/Homepage.jsx" type="text/jsx"></script>
{% endblock %}
<div id="root-homepage"></div>
<!-- <div id="modal">
  <div id="modal-content">
    <img src="" id="modal-img" />
    <p id="modal-text">
    </p>
  </div>
</div> -->

<!-- <ul class="character-list">
  <div class="container">
      {% for character in characters | sort(attribute='name') %}

        <li>
        <div class="characters">
          <div class="char-individual">
            <div class="flexbox-item char-img">
              <img class="char-avatar modal-trigger" src="{{character.image}}" data-name="{{character.name}}" data-description="{{character.biography}}" id="{{character.id}}" />
            </div>
            
            <div class="flexbox-item character-name">
              <p>
                <a class="hyperlink character_redirect" href="/{{character.id}}"
                >{{ character.name }}</a
                >
              </p>
            </div>
          </div>
        </div>
      </li>

      <div id="modal-{{character.id}}" class="modal">
        <img src="{{character.image}}" id="modal-img" />
        <p id="modal-text">
          {{character.biography}}
        </p>
      </div>
      {% endfor %} 
  </div>
</ul> -->

{% endblock %}
