{% extends 'base.html' %} {% block title %}Into the DC Universe{% endblock %}  {% block body %}

<div class="main-header">
  <h1 class="page-title">
    Into the </h1>
    <img class="dc-logo" src="/static/img/DC_Comics_logo.png" /> <h1 class="page-title">Universe</h1>
  </h1>
</div>

<div class="search-container">

    <label class="search-description" for="searchInput">Characters Search</label>
    <form>
      <input class="input" id="search-term" type="text" placeholder="Search">
      <button type="submit" onclick="search()">Search</button>
    </form>
    <!-- <div id="results"></div>
    <script src="{{ url_for('static', filename='/static/JS/searchBar.js')}}"></script> -->
      
</div>

<div id="root"></div>
<ul class="character-list">
  <div class="container">
      {% for character in characters | sort(attribute='name') %}
      <li>
        <div class="characters">
          <div class="character-individual">
            <div class="flexbox-item character-img">
              <img class="char_avatar" src="{{character.image}}" />
            </div>
            
            <div class="flexbox-item character-name">
              <p>
                <a class="hyperlink character_redirect" href="/{{character.id}}"
                >{{ character.name }}</a
                >
              </p>
            </div>
          </div>
        </div>
      </li>
      {% endfor %} {% endblock %}
  </div>
</ul>
